.header__movies {
    background-color: #202020;
    padding: 3% 4%;
    max-width: 1140px;
    box-shadow: none;
    margin: auto;
}
@media (max-width: 320px) {
    .header__movies {
      padding-top: 6%;
    }
}
.header__container {
    display: flex;
}
.header__films {
    font-size: 13px;
    line-height: 18px;
    margin: auto 0 auto 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}
.header__films:hover {
    opacity: 0.6;
}
@media (max-width: 768px) {
    .header__films {
        display: none;
    }
}
.header__account-icon {
    display: flex;
    font-size: 13px;
    line-height: 12px;
    font-weight: 500;
}
.header__account {
    margin: auto 8px auto 0;
    color: #fff;
    text-decoration: none;
}
.header__account:hover {
    opacity: 0.6;
}
@media (max-width: 768px) {
    .header__account {
        display: none;
    }
}
.header__icon {
    background-image: url(../../../images/icon.svg);
    background-repeat: no-repeat;
    width: 26px;
    max-height: 26px;
    top: 4px;
    background-color: #313131;
    border-radius: 50%;
    padding: 1px;
    background-position: center;
    margin-top: 5px;
}
@media (max-width: 768px) {
    .header__icon {
        display: none;
    }
}
.header__strings {
    background-image: url(../../../images/палки.svg);
    display: none;
}
@media (max-width: 768px) {
    .header__strings {
        display: flex;
        width: 44px;
        height: 44px;
    }
}
@media (max-width: 767px) {
    .header__strings {
        width: 40px;
    }
}
