.photo {
    max-width: 1140px;
    margin: auto;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    row-gap: 38px;
    column-gap: 20px;
    padding-bottom: 50px;
    min-height: 470px;
    width: 100%;
}
@media (max-width: 1200px) {
    .photo {
        grid-template-columns: 339px 339px;
        max-width: 708px;
        gap: 30px;
    }
}
@media (max-width: 760px) {
    .photo {
        grid-template-columns: 300px;
        padding-top: 50px;
        padding-bottom: 60px;
        max-width: 300px;
    }
}
@media (max-width: 320px) {
    .photo {
        max-width: 300px;
    }
}
